# Host machine operating system:
# - macos    - for MacOSX
# - linux    - for Linux
# - windows  - for Windows
host:
  os: macos
  username: ''

github:
  token: ''

machines:
  xtau:
    vm:
      box: 'ubuntu/xenial64'
      ip: '192.168.33.10'
      forward:
        ports: false
        x11: false
    provider:
      name: 'virtualbox'
      memory: 2048
#    provision:
#      ansible:
#        playbook: ansible/provision.yml
#      shell:
#        path: scripts/vagrant.sh
    folders:
      - host: '~/Code/Drupal7'
        guest: '/opt/xtuple/commerce'
      - host: '~/Code/PHP'
        guest: '/opt/xtuple/php'
      - host: './'
        guest: '/vagrant'
    dns:
      tld: 'xd'
      patterns:
        - '^[\w-]+.xd$'
    vars:
      timezone: 'America/New_York'
