# PostgreSQL Client Authentication Configuration File
# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             postgres                                peer
local   all             {{ deployer_name }}                     peer

host    postgres        postgres        127.0.0.1/32            trust
host    phpunit         phpunit         127.0.0.1/32            trust
host    development     development     127.0.0.1/32            trust
host    stage           stage           127.0.0.1/32            trust
host    production      production      127.0.0.1/32            trust

host    all             all             ::1/128                 md5
